.autocomplete-container {
    margin-right: 2rem;
}

.aa-DetachedSearchButton {
    border: none;
    width: 36px;
    height: 36px;
    justify-content: center;
}

.aa-DetachedSearchButton:focus{
    box-shadow: 0 0 0 3px rgb(66 153 225 / 60%);
    border-radius: 0;
}

.aa-DetachedSearchButtonIcon {
    color: #191C23;
}

.aa-DetachedSearchButtonPlaceholder {
    display: none;
}